<div class="card" ng-hide="edit" ng-click="edit=true">
  <div class="card-body">
    <h5 class="card-title">{{ card.title }}</h5>
    <p class="card-text">{{ card. description }}</p>
    <div ng-show="edit" ng-model-options="modelOptions">
      <label><strong>Title:&nbsp;</strong></label>
      <input type="text" ng-model="card.title"
          ng-change="update()" />

      <textarea ng-model="card.description"
            placeholder="Enter description.."
            ng-change="update()"></textarea>
      <button ng-click="edit=false">Close</button>
      <button ng-click="delete()">Delete</button>
    </div>
  </div>
</div>
