<section class="container d-inline-flex justify-content-center mt-5">
  <div class="card border-light shadow p-3">
    <h5 class="card-title text-info">Login to your Scrumboard</h5>
    <form class="card-body" ng-submit=login()>
      <div class="text-danger">{{ login_error }}</div>
      <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" ng-model="user.username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" ng-model="user.password" />
      </div>
      <div class="float-right">
        <button type="submit" class="btn btn-info">Login</button>
      </div>
    </form>
  </div>
</section>
